body.dialog--open {
  overflow: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}

dialog.dialog {
  width: 400px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  border-radius: var(--radius-normal);
  pointer-events: none;
  animation: none;
}

dialog.dialog[open] {
  animation: fade-in 0.5s ease normal;
}

dialog.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

dialog.dialog[open] {
  animation: fade-in 0.5s ease normal;
}

dialog.dialog.dialog--is-hidden {
  animation: fade-out 0.5s ease normal;
}

dialog.dialog .dialog__content-wrapper {
  width: 100%;
  height: auto;
  box-sizing: inherit;
  max-height: calc(100vh - var(--gutter-normal) * 2);
}
