body.dialog--open {
  overflow: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}

.dialog {
  width: 400px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  border-radius: var(--radius-normal);
  animation: none;
}

.dialog:modal {
  max-width: 100vw;
  max-height: 100vh;
}

.dialog[open] {
  animation: fade-in 0.5s ease normal;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.dialog[open] {
  animation: fade-in 0.5s ease normal;
}

.dialog.dialog--is-hidden {
  animation: fade-out 0.5s ease normal;
}

.dialog .dialog__content-wrapper {
  width: 100%;
  height: auto;
  box-sizing: inherit;
  max-height: calc(100vh - var(--gutter-normal) * 2);
  display: flex;
}

.dialog .dialog__content {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 480px) {
  dialog.dialog {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    border: none;
  }
}
