:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --padding-small: 8px;
  --padding-normal: 16px;

  --gutter-small: 8px;
  --gutter-normal: 16px;

  --radius-small: 4px;
  --radius-normal: 8px;
}
html,
body,
#root {
  width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
}
